@{
    ViewBag.Title = "About Us";
    @*<h2> @ViewBag.Message</h2>*@
}

<div class="container">
    <div class="jumbotron-special">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="jumbotron">
        <h3>Southern Scents History</h3>
        <p><em>Top Quality, Affordable Priced, Often Imitated, Never Duplicated!</em> Southern Scents Candles was established in 2004. The location is in Nairn, Louisiana which is in Plaquemines Parish. Progress was interrupted in 2005 due to hurricane Katrina.  The Candle Shop was completely destroyed. Operations were moved to Kaplan, Louisiana for about eight months. After a lot of hard work operations resumed at a new location in Nairn, Louisiana.</p>
    </div>
</div>



