
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="jumbotron-special">

        <h2>@ViewData["Title"]</h2>

    </div>


    <div class="jumbotron">

        <h3>@ViewData["Message"]</h3>

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">

                <div class="panel-heading">

                    <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">

                            Is there a proper way to burn Southern Scents Candles?

                        </a>

                    </h4>

                </div>

                <div id="collapse1" class="panel-collapse collapse in">

                    <div class="panel-body">

                        <p> Yes. Make sure to choose a surface that is stable, even, and heat resistant. Also make sure there are no drafts and please keep it out of the reach of children. Trim the wick to 1/4 inch and stop burning the candle when the wax is less than 1/4 inch from the bottom of the container. Please do not burn the candle any longer than 5 hours at a time. Please don't leave a candle burning unattended. Southern Scents Candles and Rhonda's Place for Web Design are not responsible for any misuse of the candles. Now it is time to relax, and enjoy the fragrance of your Southern Scents candle!</p>

                    </div>

                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading">

                    <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">

                            When do I need to stop using the candle?

                        </a>

                    </h4>

                </div>

                <div id="collapse2" class="panel-collapse collapse">

                    <div class="panel-body">

                        <p>As a precautionary safety measure, you should never use a candle when it is 1/4 inch from the bottom of the candle jar. The reason is because the wax has been used and the glass gets extremely hot. Please don't ever pick up a candle jar when it is lit, and especially when it is low. Also make sure you place your candle on a non-porous surface that is heat resistant.</p>

                    </div>

                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading">

                    <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">

                            What kind of wicks are used in your candles?

                        </a>

                    </h4>

                </div>

                <div id="collapse3" class="panel-collapse collapse">

                    <div class="panel-body">

                        <p> We do not use lead wicks in any of our candle products. Our candles have 100% zinc wicks that are safe and ensure even burning and pleasant, long lasting fragrance. All wicks are attached so as not to float after the candle has burned past the half way point. You won't have any trouble relighting your candle because you won't have to find the wick in the wax and our candle wicks are 100% environmentally safe!</p>

                    </div>

                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading">

                    <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">

                            How long can I expect a Southern Scents Candle to burn?

                        </a>

                    </h4>

                </div>

                <div id="collapse4" class="panel-collapse collapse">

                    <div class="panel-body">

                        <p> As long as the wick is trimmed to 1/4 inch before burning and hasn't been burning for more than 5 hours, our candles will burn with no smoke for approximately 5-6 hours per ounce.</p>

                    </div>

                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading">

                    <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">

                            What type of wax is used to make your candles?

                        </a>

                    </h4>

                </div>

                <div id="collapse5" class="panel-collapse collapse">

                    <div class="panel-body">

                        <p> Our candles are made of a specially blended, soft consistency wax, formulated especially for container candles.</p>

                    </div>

                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading">

                    <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">

                            How can I contact someone if I have a question?

                        </a>

                    </h4>

                </div>

                <div id="collapse6" class="panel-collapse collapse">

                    <div class="panel-body">

                        <p> Please call us at (504) 912-0733.</p>

                    </div>

                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading">

                    <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">

                            How long will shipping take?

                        </a>

                    </h4>

                </div>

                <div id="collapse7" class="panel-collapse collapse">

                    <div class="panel-body">

                        <p>As soon as we receive your order, we will ship the candle within two business days if it is in stock. If it is not in stock, it may take up to two weeks or longer.</p>

                    </div>

                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading">

                    <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">

                            What are your ordering guidelines?

                        </a>

                    </h4>

                </div>

                <div id="collapse8" class="panel-collapse collapse">

                    <div class="panel-body">

                        <p>
                            <ul>

                                <li>Choose your candle size and scent.</li>

                                <li>Add any ribbons or custom labels.</li>

                                <li>Please note there is a minimum requirement for certain candle scents and sizes.</li>

                                <li>Please provide the information that you want on your custom labels and any other information in the optional instructions box.</li>

                                <li>Don't forget to specify each candle you would like a ribbon or custom label on.</li>

                            </ul>
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>



@*<!DOCTYPE html>



        <html>

        <head>

            <meta name="viewport" content="width=device-width" />

            <title></title>

        </head>

        <body>

            <div>



            </div>

        </body>

    </html>*@

